*.sma
*.asm
*.bin
*.hex

*.jpeg

__pycache__/

# pyinstaller build
*.spec

# for the test programme (test.py), the output can be make with: python3 test.py > result.ans (for have the ANSI)
*.ans

dist/
build/
build_publish/